{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" contenct="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ResourceShare{% endblock title %}</title>
    <meta name="description" content= ""/>
    {% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% endblock stylesheet %}
    {% block javascript %}
        <script src="{% static 'js/main.js' %}"></script>
    {% endblock javascript %}
</head>
<body>
    <main>{% block content %}{% endblock content %}</main>
    <footer></footer>
</body>
</html>